.answer-buttons {
  gap: 10px;
  padding-top: 10px;
}

.round-time-bar div {
  background: white;
}

.time-bar {
  width: 40%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.score {
  padding-top: 10px;
}
