<section class="quizz-section" *ngIf="currentPeople && currentMovie">
  <div>
    <div class="flex-row">
      <app-info-card [image]="currentPeople.profile_path" [name]="currentPeople.name"></app-info-card>
      <app-info-card [image]="currentMovie.poster_path" [name]="currentMovie.title"></app-info-card>
    </div>
    <div class="flex-row">
      <h4 class="start-title">{{currentPeople.name}} </h4>&nbsp;a joué dans le film&nbsp;<h4 class="start-title"> {{currentMovie.title}}</h4>
    </div>
  </div>

  <div class="flex-row">
    <div style="width: 40%; padding-top: 16px; padding-bottom: 16px; ">
      <div class="round-time-bar bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
        <div class="h-2.5 rounded-full" style="width: {{timeLeft*100/counter}}%"></div>
      </div>
    </div>
  </div>

  <div class="flex-row answer-buttons">
    <app-action-button [answer]="false" (click)="answer(false)"></app-action-button>
    <app-action-button [answer]="true" (click)="answer(true)"></app-action-button>
  </div>
</section>

