/* You can add global styles to this file, and also import other style files */
html {
  background: url('/assets/img/start-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica, sans-serif;
  color: whitesmoke;
}

.flex-row {
  display: flex;
  justify-content: center;
}
